**/.env
.ditto-data/
**/.venv/
**/__pycache__/
**/.pytest_cache/
**/build/
**/.gradle/
**/local.properties
**/private_media/
**/*.db
**/*.db-shm
**/*.db-wal
**/*.jks
**/*.keystore
**/.idea/

.kotlin/
